[submodule "W2D3/NFTMarket/lib/forge-std"]
	path = W2D3/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D3/NFTMarket/lib/openzeppelin-contracts"]
	path = W2D3/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W2D5/deployERC20/lib/forge-std"]
	path = W2D5/deployERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D5/deployERC20/lib/openzeppelin-contracts"]
	path = W2D5/deployERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W2D5/DeployToken/lib/forge-std"]
	path = W2D5/DeployToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D5/DeployToken/lib/openzeppelin-contracts"]
	path = W2D5/DeployToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W2D5/VisitNFT/lib/forge-std"]
	path = W2D5/VisitNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D5/visitNFT/OrbitNFTFrontend/lib/forge-std"]
	path = W2D5/visitNFT/OrbitNFTFrontend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W2D5/visitNFT/OrbitNFTBackend/lib/forge-std"]
	path = W2D5/visitNFT/OrbitNFTBackend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W3D2/EIP2612_TokenBank_NFTMarket/lib/forge-std"]
	path = W3D2/EIP2612_TokenBank_NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "W3D2/EIP2612_TokenBank_NFTMarket/lib/openzeppelin-contracts"]
	path = W3D2/EIP2612_TokenBank_NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W3D5/DYLAN_NFTMARKET/lib/forge-std"]
	path = W3D5/DYLAN_NFTMARKET/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W3D5/DYLAN_NFTMARKET/lib/openzeppelin-contracts"]
	path = W3D5/DYLAN_NFTMARKET/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D1/W4D1_PPT_NFTMarket/lib/forge-std"]
	path = W4D1/W4D1_PPT_NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W4D1/W4D1_PPT_NFTMarket/lib/openzeppelin-contracts"]
	path = W4D1/W4D1_PPT_NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D2/IDO_STAKE/lib/forge-std"]
	path = W4D2/IDO_STAKE/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W4D2/IDO_STAKE/lib/openzeppelin-contracts"]
	path = W4D2/IDO_STAKE/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "W4D3/Inline_assembly/lib/forge-std"]
	path = W4D3/Inline_assembly/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "W4D5/storage_memory/lib/forge-std"]
	path = W4D5/storage_memory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
